	/*background-color:#a8a8a8;   container ---> #d3d3d3*/

body{
	margin:0px;
	background: linear-gradient(LightBlue, Seashell);
}

/*
* Efecto brillo
*/
.ganador {
	text-align:center;
    -webkit-animation: glow .5s infinite alternate;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 15px Purple;
    }
}

/*
* Estilo de texto
*/
h1, h2, h3, h4, h5, h6 {
	font-family:Garamond,serif;
}

p{
	font-family:Georgia,serif;
}

span{
	font-family:Georgia,serif;
}
/*
* Divs contenedores y bloques
*/

.inner {
    width: 70%;
  	margin:0 auto;
}

.row {
	margin:20px;
	overflow: hidden;
}

.container {
	background-color:LightSteelBlue;
	padding:2em;
	overflow:hidden;
	border-radius:0.5em;
}


/*
* Divs columnas (De 3 y de 2)
*/


.col2-left {

	width: 40%;
	float: left;
}

.col2-right {

	width: 60%;
	float: right;
}

.col3-left {

	width: 33%;
	float: left;
}

.col3-center {

	width: 33%;
	display: inline-block;
}

.col3-right {

	width: 33%;
	float: right;
}

/*
* Barra de navegacion
*/

#navbarouter {
	background-color:RoyalBlue;
	overflow:hidden;
}

#navbar {
	padding-top:1.5em;
    padding-right:2em;
    padding-bottom:0.5em;
    padding-left:2em;
	overflow:hidden;
}


#navbutton {
	padding: 0.5em;
	float:left;
	font-weight:bold;
}

#navbutton a {
	color:white;
	text-decoration:none;
}

#navbutton:hover {
	background-color:Pink;
} 

#navbutleft {
	padding: 0.5em;
	float:right;
	font-weight:bold;
	color:white;
	text-decoration:none;
}

#navbutleft a {
	color:white;
	text-decoration:none;
}

#navbutleft:hover {
	background-color:Pink;
} 

#cabecera {
	text-align:center;
}

/*
* Imagenes
*/

#imgdado {
	height:10em;
    border-radius:0.5em;
    margin-top:1em;
    margin-bottom:1em;
    margin-right:5em;
    margin-left:5em;
}
#imgdado:hover {
	background-color:AntiqueWhite;
} 

#imgmagic {
	height:15em;
    border-radius:0.5em;

    display: block;
    margin: 1em auto;
}

#imghackerman {
	height:12em;
    border-radius:0.5em;
    margin:1em;
}

/*
* Backoffice style!!
*/

.backoffice {
	background-color:#0000AA;
	width:100%;
	float:left;
	margin-left:auto;
}

.bofficecontainer {
	background-color:LightGrey;
	padding:2em;
	overflow:hidden;
	width:25em;
	margin:auto;
	margin-bottom:10em;
	font-family:courier;
}

.bofficetext {
	color:LightGrey;
	font-family:courier;
}

.bofficetextf {
	color:Black;
	font-family:courier;
}

