	/*background-color:#a8a8a8;   container ---> #d3d3d3*/

body{
	margin:0px;
	background:white;
}

.maincajon{
	padding-top:90px;
}

.dadomain{
	text-align:center;
	background-color: rgba(68, 158, 0, 0.23);
	border-radius:10px;
	border-bottom:4px solid rgba(68, 158, 0, 0.45);
	padding-bottom:30px;
}

.totaltiradas{
	text-align:center;
	border-top:1px solid rgba(187, 187, 187, 0.36);
	border-bottom:1px solid rgba(187, 187, 187, 0.36);
	padding:30px;
	margin-top:15px;
}

.totaltiradas p{
	margin:0px;
}

.row{
	margin:0px;
}

.margin1{
	margin-bottom:10px;
}

/*
* Imagenes
*/

#imgdado {
	height:10em;
    border-radius:0.5em;
    margin-top:1em;
    margin-bottom:1em;
    margin-right:5em;
    margin-left:5em;
}
#imgdado:hover {
	background-color:AntiqueWhite;
}
